<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<a href="/hello">Hello Page</a>

<!-- Intro to About Page-->
<h1>What to know about Keerti Das!</h1>
<h2>BACKGROUND</h2>
<p>My name is <strong>Keerti Das</strong> and I am a senior Information Systems
major in the <strong>Smith Business School</strong> at UMD. I am minoring in Leadership Studies
where I work as a teaching assistant for the class LEAD315: Leadership in Groups
and Organizations.</p>

<!-- Section for Experiences during College-->
<h2>EXPERIENCES & INVOLVEMENT</h2>
<p>During my time at UMD, I have engaged in <em>leadership</em> roles within
the University Senate and Residence Hall Program. Along with those
positions, I worked as a program assistant in the Department of ResLife
and mentor at Boys and Girls Club.</p>

<!-- Section for MLEAD Leadership Program-->
<h2>MLEAD PROGRAM</h2>
<p>A specific program which I earned a <em>Certificate of Completion</em> from
was MLEAD, a Maryland youth leadership program. I earned my certificate in the <em>Groups
    and Organizations</em> track. MLEAD is a 6-week program where you speak with many different
leaders and learn new skills which can be applied to real-world experiences.</p>

<!-- Important External Links-->
<h3>Keerti's Favorite Links</h3>
<ul>
    <li><a href="https://www.nytimes.com/crosswords">NYT Games</a></li>
    <li><a href="https://www.youtube.com/@justtrishpodcast" target="_blank">Podcast: Just Trish</a></li>
    <li><img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="300" height="88"></li>
</ul>

<!-- Ordered List about Items Keerti Likes-->
<h3>Personal <strong>Material</strong> Interests</h3>
<ul>
    <li>Wax Melts</li>
    <li>Air Fresheners</li>
    <li>Candles</li>
    <li>Honey Sticks</li>
    <li>Handcrafted Soaps</li>
    <li>Bath Bombs</li>
</ul>

<!-- Ordered List about U.S. States Keerti has Visited -->
<h3> <strong>Few</strong> of the States Keerti Visited in the U.S.</h3>
<ol>
    <li>Maryland</li>
    <li>New Hampshire</li>
    <li>Maine</li>
    <li>Massachusetts</li>
    <li>Virginia</li>
    <li>West Virginia</li>
    <li>Indiana</li>
</ol>

<!-- Table with Courses and the Semester they were taken-->
<h3>Courses Taken</h3>
<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT495</td>
        <td>Fall 2025</td>
    </tr>
    <tr>
        <td>BMGT380</td>
        <td>Spring 2026</td>
    </tr>
    <tr>
        <td>LEAD217</td>
        <td>Fall 2023</td>
    </tr>
    <tr>
        <td>LEAD315</td>
        <td>Fall 2024</td>
    </tr>
    <tr>
        <td>ENG395</td>
        <td>Winter 2024</td>
    </tr>
    <tr>
        <td>BMGT367</td>
        <td>Summer 2025</td>
    </tr>
</table>
</body>
</html>